@model IEnumerable<HospitalWebApp.Models.Doctor>

@{
    ViewData["Title"] = "Doctores";
}

    <h1>Doctores</h1>

<p>
    <a asp-action="Create">Crear</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NumeroCredendial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Hospital)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroCredendial)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Hospital)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Borrar</a>
            </td>
        </tr>
}
    </tbody>
</table>
